<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Heart_disease_prediction</title>
</head>
<body>
    <div class="header">
            <ul>
                <li style="color: red;">&#9829; Heart Disease Prediction &#9829;</li>
                <a href="#"><li>Home</li></a>
                <a href="registrationform"><li>Prediction system</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>ContactUs</li></a>
            </ul>
    </div>
    <h1 style="color:  rgb(216, 239, 11);;">Welcome To The <br>Heart Disease Prediction <br>System Website</h1>
    <h2 style="color: cornsilk">Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Exercitationem est, voluptatem <br>maxime consequuntur at ipsum? Aspernatur <br> repellendus magnam iusto suscipit non dolorum <br>temporibus veritatis, dignissimos, eveniet <br>sunt tempore quas pariatur.</h2>
</body>
</html>